.btn {
  border: none;
  border-radius: 50px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.primary {
  background-color: #1b5cc1;
}

.primary:hover {
  background-color: #4981da;
}

.secondary {
  background-color: #e7e7e7;
  color: black;
}

.secondary:hover {
  background-color: #ccc9c9;
  color: black;
}

.success {
  background-color: #01800b;
}

.success:hover {
  background-color: #15b723;
}

.danger {
  background-color: #e81905;
}

.danger:hover {
  background-color: #f34a3a;
}

.inverse {
  background-color: transparent;
  border: 3px solid #1b5cc1;
  color: #1b5cc1;
}

.small {
  font-size: 0.8rem;
  padding: 0.8rem 2rem;
}

.medium {
  font-size: 1rem;
  padding: 0.7rem 3rem;
}

.large {
  font-size: 1.3rem;
  padding: 0.9rem 3.5rem;
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
  color: white;
}

.disabled:hover {
  background-color: gray;
  cursor: not-allowed;
  color: white;
}
