.basic-badge {
  padding: 5px 15px;
  color: white;
  border-radius: 50px;
}

.basic-badge.primary {
  background-color: #1b5cc1;
}

.basic-badge.secondary {
  background-color: gray;
}

.basic-badge.success {
  background-color: #01800b;
}

.basic-badge.danger {
  background-color: #e81905;
}

.badge-container {
  position: relative;
}

.avatar-badge {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: red;
  position: absolute;
  right: 5px;
  bottom: 25px;
  border: 2px solid white;
}

.avatar-lg + .avatar-badge {
  width: 20px;
  height: 20px;
  right: 3px;
  bottom: 25px;
}

.avatar-md + .avatar-badge {
  width: 15px;
  height: 15px;
  right: 0px;
  bottom: 18px;
}

.avatar-sm + .avatar-badge {
  width: 12px;
  height: 12px;
  right: -2px;
  bottom: 15px;
}

.avatar-xs + .avatar-badge {
  width: 8px;
  height: 8px;
  right: -2px;
  bottom: 8px;
}

.avatar-badge.badge-primary {
  background-color: #1b5cc1;
}

.avatar-badge.badge-success {
  background-color: #01800b;
}

.avatar-badge.badge-secondary {
  background-color: gray;
}
